.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--Darkerblue);
}
.courses-container,
.detail-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 5rem;
}

.detail-container {
  align-items: center;
  background-image: url("../assets/images/formacion.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  clip-path: polygon(0 28%, 100% 0, 100% 100%, 0% 100%);
}

.detail-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--Black);
  opacity: 0.7;
  z-index: -1;
}

.title-container {
  line-height: 1.5rem;
  color: var(--White);
}

.cursos-title {
  color: var(--White);
  margin-bottom: 1rem;
}
.cursos-subtitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-left: 2ch;
}
.cursos-select {
  font-weight: 100;
}

.ul-cursos {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.li-cursos {
  background-color: var(--White);
  color: var(--Darkerblue);
  padding: 0.5rem;
  border-radius: 12px;
  font-size: 1.5rem;
  font-weight: 900;
  width: 100%;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--White);
}

.li-cursos:hover {
  background-color: var(--Gray);
  color: var(--White);
}
.selected-course-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--White);
}

.selected-course-description {
  color: var(--White);
  line-height: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .main-container {
    height: auto;
    min-height: 50vh;
    flex-direction: column;
    padding-block: 2rem;
  }

  .detail-container {
    clip-path: none;
  }

  .courses-container,
  .detail-container {
    width: 100%;
    padding: 2rem;
  }

  .cursos-subtitle {
    padding-left: 0;
  }

  .ul-cursos {
    flex-direction: row;
  }
  .li-cursos {
    font-size: 1rem;
  }
  .cursos-title {
    color: var(--White);
    margin-bottom: 0rem;
    text-align: center;
    font-size: 2.2rem;
    line-height: 2rem;
  }
  .cursos-subtitle {
    font-size: 2.2rem;
    padding-left: 0;
    text-align: center;
    line-height: 2rem;
  }
  .cursos-select {
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  .ul-cursos {
    flex-wrap: wrap;
  }

  .cursos-title,
  .cursos-subtitle {
    font-size: 1.8rem;
  }
}

.button {
  min-width: 200px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  color: #ffffff;
  text-align: center;
  transition: all 1s;
  background: linear-gradient(90deg, var(--Darkerblue), var(--Darkblue));
  border-radius: 16px;
  outline: 2px solid var(--Gray);
  box-shadow: 0px 0px 10px 3px var(--Gray);
}

.button:hover {
  color: #ffffff;
  transform: scale(1.1);
  letter-spacing: 2px;
  background: linear-gradient(270deg, var(--Darkerblue), var(--Darkblue));
}

@media screen and (max-width: 768px) {
  .button {
    min-width: 120px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 1.2px;
  }
}
