<header class="header-container">
  <h1 class="hero-title">CONTACTO</h1>
</header>

<style>
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 100%;
    background-color: var(--Darkerblue);
  }
  .hero-title {
    color: var(--White);
  }
</style>
